.editor-container {
  flex-grow: 1;
  background: -webkit-gradient(radial, center center, 3, center center, 1000, from(#bbb), to(#222));
  display: flex;
  justify-content: center;
  align-items: center;

  .editor-svg {
    background: white;
  }

  .rotate-mouse{
    cursor:url(../asset/rotate.svg),auto;
  }

  .point-control {
    cursor: move;
    fill: #0FF;
    stroke: #55f;
    r: 4;
  }

  .point-control-add {
    opacity: 0.9;
    fill: #0FF;
    stroke: #55f;
    r: 4;
  }
}