.function {
    position: absolute;
    display: flex;
    width:80%;
    min-width: 800px;
    height: 40px;
    top:0;
    left:150px;
    padding-top: 1%;
    background-color: #2f2f2c;
    flex-direction: row;
  
  }
  .functionItem {
    width: 110px;
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 35px;
    background-color: #3f3f3c;
    border-radius: 3px;
    color: #ffffff;
    text-align:center;
    padding-top: 5px;
  }
  
  .functionItemSelect {
    width: 110px;
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 35px;
    background-color: #3f3f3c;
    border-radius: 3px;
    color: #4f80ff;
    text-align:center;
    padding-top: 5px;
  } 