.toolbar{
  width: 150px;
  height:90%;
  padding-top: 6%;
  position:absolute;
  background-color: #2f2f2c;
  top:0;
  left:0;
}

.toolitem{
  width: 110px;
  height: 110px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 35px;
  background-color: #3f3f3c;
  border-radius: 3px;
}

.itmeIcon{
  width: 70px;
  height: 70px;
  padding: 20px;
}
