.Toolbar{
  width: 100px;
  height: 1080px;
  background-color: black;
  float: left;
}

.Toolitem{
  width: 80px;
  height: 80px;
  margin: 9px;
  background-color: #282c34;
}

.itmeicon{
  width: 55px;
  height: 55px;
  padding: 10px;
}